<% layout ("/layouts/boilerplate") %>
<div class="row mb-3"></div>
 <div class="col-8 offset-2 ">
    <h3>Edit Your Listings</h3>
    <form method="POST" enctype="multipart/form-data" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required>
       <div class="invalid-feedback">Title name should be valid</div>   
    </div>
      <div class="mb-3 imago" >
         <p>Original Image</p>
   <img src="<%= listing.image.url %>" alt="no image">
    </div>
     <div class="mb-3" >
    <label for="url" class="form-label">Image Url</label>
    <input name="listing[image][url]" type="file" value="<%= listing.image.url %>" class="form-control" required>
 
       <div class="invalid-feedback">Image should be valid</div>
    </div>
     <div class="mb-3">
    <label for="description" class="form-label" >Description</label><br>
    <textarea name="listing[description]"value="" class="form-control" required><%= listing.description %></textarea>
    <div class="invalid-feedback">Description should be valid</div>
    </div>
    <div class="row">
     <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" required>
       <div class="invalid-feedback">Price should be valid</div>
    </div>
    <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
     <div class="invalid-feedback">Country name should be valid</div>
    </div>
    </div>
     <div class="mb-3">
    <label for="location" class="form-label" >Location</label>
    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
    <div class="invalid-feedback">Location should be valid</div>
    </div>
    <button class="btn btn-dark btn-edit mb-4">Edit it</button>
  </form>
</div>
</div>
